

    <div class="position">
        <!doctype html>
        <html lang="en">
          <head>
            <meta charset="utf-8">
          </head>
          <body>
            
            <img src="assets/images/title.png">
      <hr>
        
      <hr class="featurette-divider">
      
          <div class="row featurette">
            <div class="col-md-7">
              <h2 class="featurette-heading">ABOUT SMART TOURISM </h2>
              <br>
              <p class="lead"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#67B5BB" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>We are a technology company, we use software engineering to create the best solutions for your company.</p>
              <p class="lead"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#67B5BB" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>We do bigdata and machine learning to analyze and process the information of your company's clients.</p>
            
            <p class="lead"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#67B5BB" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg>We help you to offer better services to your clients and we help you create new services.</p>
            <p class="lead"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#67B5BB" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>We have the best Development Engineers to create tailored solutions.</p>
          </div>
          
            <div class="col-md-5">
              <img src="assets/images/card2.jpg" width="450" height="350">
            </div>
          </div>
       
          <br>
          <!-- FOOTER -->
          <footer class="container" align="center">
            
            <p> © 2021 Copyright SmartTourism Company</p>
          </footer>
        
         
        
              
          </body>
        </html>
        
      </div>
      
  
  